target/META-INF/mule-src/make-my-trip/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="make-my-trip-api-2-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${secure::http.port}" />
    </http:listener-config>
    <apikit:config name="make-my-trip-api-2-config" api="make-my-trip-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="make-my-trip-api-2-main">
        <http:listener config-ref="make-my-trip-api-2-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="make-my-trip-api-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="make-my-trip-api-2-console">
        <http:listener config-ref="make-my-trip-api-2-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="make-my-trip-api-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="put:\customers\(customerId):application\json:make-my-trip-api-2-config">
		<flow-ref doc:name="updateCustomersByIdFlowImpl" doc:id="b2a0e12d-8957-4f5c-ba30-7d5460ef8b30" name="updateCustomersByIdFlowImpl"/>
    </flow>
    <flow name="put:\customers\(customerId)\hotelBookings\(hotelBookingId):application\json:make-my-trip-api-2-config">
		<flow-ref doc:name="updateHotelBookingByIdImpl" doc:id="97b4e9e1-9c4a-4cca-bc33-c400464b320c" name="updateHotelBookingByIdImpl"/>
    </flow>
    <flow name="delete:\customers\(customerId):make-my-trip-api-2-config">
		<flow-ref doc:name="deleteCustomerByIdImpl" doc:id="6f50d8dd-34b6-4288-a465-84a3f88bfa89" name="deleteCustomerByIdImpl"/>
    </flow>
    <flow name="delete:\customers\(customerId)\hotelBookings\(hotelBookingId):make-my-trip-api-2-config">
		<flow-ref doc:name="deletingHotelBookingImpl" doc:id="3148caf9-4cb1-45f3-8714-230cbc11c160" name="deletingHotelBookingImpls"/>
    </flow>
    <flow name="get:\customers:make-my-trip-api-2-config">
		<choice doc:name="Choice" doc:id="22b45c34-9571-4cfb-96af-599d80579b39" >
			<when expression="#[attributes.queryParams.City != null]">
				<flow-ref doc:name="getCustomersByCityImpl" doc:id="cab498eb-b794-4a4f-8c14-3719b2f37afd" name="getCustomersByCityImpl"/>
			</when>
			<when expression="#[attributes.queryParams.Pincode !=null]">
				<flow-ref doc:name="getCustomersByPincodeImpl" doc:id="21fa0695-dc9e-4b7a-a71d-a6ad7ddd1329" name="getCustomersByPincodeImpl"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllCustomersFlowImpl" doc:id="e872a7ee-c4d5-4b21-830e-ab46105c6e80" name="getAllCustomersFlowImpl"/>
			</otherwise>
		</choice>
    </flow>
	<flow name="get:\customers\(customerId)\hotelBookings:make-my-trip-api-2-config">
		<choice doc:name="Choice" doc:id="77b3c178-f555-498c-9e60-8093d5811ad6" >
			<when expression="#[attributes.queryParams.year !=null]">
				<flow-ref doc:name="getHotelBookingsByYear" doc:id="7bd9a5c6-460b-46bf-a1aa-d528659df59d" name="getHotelBookingsByYear"/>
			</when>
			<when expression="#[attributes.queryParams.startDate !=null]">
				<flow-ref doc:name="getHotelBookingsByStartDate" doc:id="bac9ca35-bded-40ba-ab00-f4ad4d68e435" name="getHotelBookingsByStartDate"/>
			</when>
			<when expression="#[attributes.queryParams.endDate !=null]">
				<flow-ref doc:name="getHotelBookingsByEndDate" doc:id="a9ab9f8c-67a1-4a6b-91aa-c89a74e54cfd" name="getHotelBookingsByEndDate"/>
			</when>
			<otherwise>
				<flow-ref doc:name="getHotelBookingsDefault" doc:id="83386a87-892b-4092-8eb5-b35635794bc8" name="getHotelBookingsDefault"/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\customers\(customerId):make-my-trip-api-2-config">
		<flow-ref doc:name="getCustomersByIdFlowImpl" doc:id="53609cb9-3a51-4d70-9bd5-00b2e84bf294" name="getCustomersByIdFlowImpl" />
    </flow>
    <flow name="get:\customers\(customerId)\hotelBookings\(hotelBookingId):make-my-trip-api-2-config">
		<flow-ref doc:name="getHotelBookingByIdImpl" doc:id="5c8251be-a3fc-4310-96ab-6709fe2ba9e4" name="getHotelBookingByIdImpl"/>
    </flow>
    <flow name="post:\customers:application\json:make-my-trip-api-2-config">
		<flow-ref doc:name="addCustomerFlowImpl" doc:id="c06f8f9c-7ed2-4c6d-b3c2-3944cb310ac0" name="addCustomerFlowImpl"/>
    </flow>
    <flow name="post:\customers\(customerId)\hotelBookings:application\json:make-my-trip-api-2-config">
		<flow-ref doc:name="createHotelBookings" doc:id="6eb7c67c-dc64-4015-93dd-438d5c0dec87" name="createHotelBookings"/>
    </flow>
</mule>
